*,
::before,
::after{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}

.clock-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clock-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.clock-image{
    width: 27rem;
}


.clock-image img{
    width: 100%;
}

.clock-list{
    width: 50%;
}

.clock-input{
 width: 100%;
 display: flex;
}

p{
    color: red;
}


input[type = "text"]{
    padding: .4rem;
    border-radius: .4rem;
    font-family: Quicksand;   
     font-size: larger;
     width: 50%;
     border: 2px solid #000;
    

}

button{
    margin-left: .5rem;
    width: 30%;
    padding: .4rem;
    font-family: Quicksand;
    font-size: larger;
    background-color: #000;
    color: #fff;
    border-radius: .4rem;
    

}

button:hover{
    cursor: pointer;
}

li{
    width: 20rem;
    display: flex;
    gap: 1rem;
    list-style: none;
    border: 1px solid #000;
    align-items: center;
    margin-bottom: .6rem;
    padding: .5rem;
    border-radius: .4rem;
}



.container-img{
    width: 5rem;
}

.container-img img{
    width: 4rem;
    margin-left: .5rem;

}

h2{
    font-family: Quicksand;
    font-weight: 400;
}

.container-hour h2{
    font-weight: 500;
}

.container-date h2{
    margin: 0;
    font-size: large;
}
